@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MesloLGS NF';
  src: url('/fonts/MesloLGS NF Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'MesloLGS NF';
  src: url('/fonts/MesloLGS NF Bold.ttf') format('truetype');
  font-weight: 700;
}
