---
import Layout from '../layouts/Layout.astro'
import { Button } from '@nextui-org/react'
---

<Layout title="Welcome to Astro.">
  <main class="overflow-x-hidden">
    <Button color="primary" client:visible>My button</Button>
  </main>
</Layout>
